{% extends 'base_hierarchical.html' %}

{% block hierarchical_body %}
  <div id="main-body" class="col-sm-10">
    <div id="main-body-plot">
    </div>
    <div id="main-body-matrix">
    </div>
  </div>
  <script>
    var data = [];
    {% for row in data %}
      data.push({{row|safe}});
    {% endfor %}
    var keys;
    var K = 0;

    var padding = {left:40, top:10, right:10, bottom: 40}
    var label_padding = 10;

    var svgWidth = 768 * 0.9;
    var svgHeight = 512 * 0.9;

    var chartWidth = svgWidth - padding.left - padding.right;
    var chartHeight = svgHeight - padding.top - padding.bottom;

    var xScale = d3.scale.linear().range([0, chartWidth]);
    var xAxis = d3.svg.axis().orient("bottom");

    var yScale = d3.scale.linear().range([chartHeight, 0]);
    var yAxis = d3.svg.axis().orient("left");

    var svg = d3.select("#main-body-plot")
      .append("svg").attr({width: svgWidth, height: svgHeight, class: "img-responsive", style: "margin:0 auto;"})

    var chart = svg.append("g")
      .attr("transform", "translate(" + padding.left + "," + padding.top + ")");

    var tip = d3.tip()
      .attr("class", "d3-tip")
      .direction("n")
      .offset([-10,0])
      .html(function(d){
        return d["name"];
      });

    var randomColor = (function(){
      var golden_ratio_conjugate = 0.618033988749895;
      var h = Math.random();

      var hslToRgb = function (h, s, l){
          var r, g, b;

          if(s == 0){
              r = g = b = l; // achromatic
          }else{
              function hue2rgb(p, q, t){
                  if(t < 0) t += 1;
                  if(t > 1) t -= 1;
                  if(t < 1/6) return p + (q - p) * 6 * t;
                  if(t < 1/2) return q;
                  if(t < 2/3) return p + (q - p) * (2/3 - t) * 6;
                  return p;
              }

              var q = l < 0.5 ? l * (1 + s) : l + s - l * s;
              var p = 2 * l - q;
              r = hue2rgb(p, q, h + 1/3);
              g = hue2rgb(p, q, h);
              b = hue2rgb(p, q, h - 1/3);
          }

          return '#'+Math.round(r * 255).toString(16)+Math.round(g * 255).toString(16)+Math.round(b * 255).toString(16);
      };
      
      return function(){
        h += golden_ratio_conjugate;
        h %= 1;
        return hslToRgb(h, 0.5, 0.60);
      };
    })();

    var colors;
    function pick_colors(ucs){
      colors = [];
      for(var i=0;i<ucs;i++){
        while(true){
          color = randomColor();
          if(colors.indexOf(color)<0){
            colors.push(color);
            break;
          }
        }
      }
    }

    function preprocess(data_){
      keys = Object.keys(data_[0]);
      keys.splice(keys.indexOf("class_label"),1);
      keys.splice(keys.indexOf("name"),1);
      keys = keys.sort();

      var xs = data_.map(function(d){return parseFloat(d[keys[0]])});
      var ys = data_.map(function(d){return parseFloat(d[keys[1]])});
      var class_labels = data_.map(function(d){return parseInt(d["class_label"])});

      xScale.domain([d3.min(xs), d3.max(xs)]).nice();
      yScale.domain([d3.min(ys), d3.max(ys)]).nice();

      xAxis.scale(xScale);
      yAxis.scale(yScale);

      var unique_class_size = class_labels.filter(function(x,i,a){return a.indexOf(x) == i}).length;

      var K_bar_value = $("#K-bar").attr("value");
      if(K_bar_value == undefined) K_bar_value = 2;
      if(K != K_bar_value){
        pick_colors(unique_class_size);
        K = K_bar_value;
      }
    }

    preprocess(data);

    chart.call(tip);

    chart.selectAll(".dot")
      .data(data)
      .enter()
      .append("circle")
      .attr("class", "dot")
      .attr("cx", function(d){return xScale(parseFloat(d[keys[0]]))})
      .attr("cy", function(d){return yScale(parseFloat(d[keys[1]]))})
      .attr("r", 3)
      .style("fill", function(d){return colors[parseInt(d["class_label"])]})
      .on("mouseover", tip.show)
      .on("mouseout", tip.hide);

    chart.append("g").attr("class", "x axis")
      .attr("transform", "translate(0," + chartHeight + ")")
      .call(xAxis);

    chart.append("g").attr("class", "y axis")
      .call(yAxis);

    svg.append("text")
      .attr("text-anchor", "middle")
      .attr("transform", "translate(" + (padding.left + chartWidth/2) + "," + (padding.top + padding.bottom + chartHeight-label_padding) + ")")
      .attr("class", "x_label")
      .text(keys[0]);

    svg.append("text")
      .attr("text-anchor", "middle")
      .attr("transform","translate(" + label_padding + "," +  (padding.top + chartHeight/2) + ")rotate(-90)")
      .attr("class", "y_label")
      .text(keys[1]);
  </script>
  <!------------------------------------------------------------------------>
  <style>
    .svg-matrix {
      font: 10px sans-serif;
      padding: 10px;
    }
    .axis-matrix,
    .frame-matrix {
      shape-rendering: crispEdges;
    }

    .axis-matrix line {
      stroke: #ddd;
    }

    .axis-matrix path {
      display: none;
    }

    .cell-matrix text {
      font-weight: bold;
      text-transform: capitalize;
    }

    .frame-matrix {
      fill: none;
      stroke: #aaa;
    }

    circle-matrix {
      fill-opacity: .7;
    }

    circle.not-selected {
      fill: #ccc !important;
    }

    .extent {
      fill: #000;
      fill-opacity: .125;
      stroke: #fff;
    }
  </style>  
  <script>
    function draw_scatter_matrix() {
      var width = 768*0.9,
          size = 180,
          padding = 40;

      var x = d3.scale.linear()
          .range([padding / 2, size - padding / 2]);

      var y = d3.scale.linear()
          .range([size - padding / 2, padding / 2]);

      var xAxis = d3.svg.axis()
          .scale(x)
          .orient("bottom")
          .ticks(6);

      var yAxis = d3.svg.axis()
          .scale(y)
          .orient("left")
          .ticks(6);

    var color = d3.scale.category10();
      d3.csv("/media/selected_result.csv", function(error, data) {
        if (error) throw error;

		d3.select("#main-body-matrix").select("svg").remove();

        var domainByTrait = {},
            traits = d3.keys(data[0]).filter(function(d) { return d !== "class_label" && d!=="name"; }),
            n = traits.length;

        traits.forEach(function(trait) {
          domainByTrait[trait] = d3.extent(data, function(d) { return parseFloat(d[trait]); });
        });

        xAxis.tickSize(size * n);
        yAxis.tickSize(-size * n);

        var brush = d3.svg.brush()
            .x(x)
            .y(y)
            .on("brushstart", brushstart)
            .on("brush", brushmove)
            .on("brushend", brushend);

        var svg = d3.select("#main-body-matrix").append("svg")
            .attr("class", "svg-matrix")
			.attr("style", "margin:0 auto;")
            .attr("width", size * n + padding)
            .attr("height", size * n + padding)
            .append("g")
            .attr("transform", "translate(" + padding + "," + padding / 2 + ")");

        svg.selectAll(".x.axis-matrix")
            .data(traits)
          .enter().append("g")
            .attr("class", "x axis-matrix")
            .attr("transform", function(d, i) { return "translate(" + (n - i - 1) * size + ",0)"; })
            .each(function(d) { x.domain(domainByTrait[d]); d3.select(this).call(xAxis); });

        svg.selectAll(".y.axis-matrix")
            .data(traits)
          .enter().append("g")
            .attr("class", "y axis-matrix")
            .attr("transform", function(d, i) { return "translate(0," + i * size + ")"; })
            .each(function(d) { y.domain(domainByTrait[d]); d3.select(this).call(yAxis); });

        var cell = svg.selectAll(".cell-matrix")
            .data(cross(traits, traits))
          .enter().append("g")
            .attr("class", "cell-matrix")
            .attr("transform", function(d) { return "translate(" + (n - d.i - 1) * size + "," + d.j * size + ")"; })
            .each(plot);

        // Titles for the diagonal.
        cell.filter(function(d) { return d.i === d.j; }).append("text")
            .attr("x", padding)
            .attr("y", padding)
            .attr("dy", ".71em")
            .text(function(d) { return d.x; });

        cell.call(brush);

        function plot(p) {
          var cell = d3.select(this);

          x.domain(domainByTrait[p.x]);
          y.domain(domainByTrait[p.y]);

          cell.append("rect")
              .attr("class", "frame-matrix")
              .attr("x", padding / 2)
              .attr("y", padding / 2)
              .attr("width", size - padding)
              .attr("height", size - padding);

          cell.selectAll("circle")
              .data(data)
            .enter().append("circle")
              .attr("class", "circle-matrix")
              .attr("cx", function(d) { return x(parseFloat(d[p.x])); })
              .attr("cy", function(d) { return y(parseFloat(d[p.y])); })
              .attr("r", 1)
              .style("fill", function(d) { return color(d.class_label); });
        }

        var brushCell;

        // Clear the previously-active brush, if any.
        function brushstart(p) {
          if (brushCell !== this) {
            d3.select(brushCell).call(brush.clear());
            x.domain(domainByTrait[p.x]);
            y.domain(domainByTrait[p.y]);
            brushCell = this;
          }
        }

        // Highlight the selected circles.
        function brushmove(p) {
          var e = brush.extent();
          svg.selectAll("circle").classed("not-selected", function(d) {
            return e[0][0] > d[p.x] || d[p.x] > e[1][0]
                || e[0][1] > d[p.y] || d[p.y] > e[1][1];
          });
        }

        // If the brush is empty, select all circles.
        function brushend() {
          if (brush.empty()) svg.selectAll(".not-selected").classed("not-selected", false);
        }
      });

      function cross(a, b) {
        var c = [], n = a.length, m = b.length, i, j;
        for (i = -1; ++i < n;) for (j = -1; ++j < m;) c.push({x: a[i], i: i, y: b[j], j: j});
        return c;
      }
    }
  </script>
{% endblock %}
